{{#section 'head'}}
    <link href="assets/css/form.css" rel="stylesheet">
{{/section}}


<div class="main_container" id="forms_page">
        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="users.html">Users</a> <span class="divider">/</span></li>
            <li class="active">Add User</li>
          </ul>
          <h2 class="heading">
                创建任务
          </h2>
        </div>
        <!-- 信息 -->
        <div class="row-fluid" id="loginInfoBox">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-list-alt"></i><h5>Information</h5>
            </div>
            <div class="widget-body">
              <div class="widget-forms clearfix">
                <form class="form-horizontal">
                 <div class="control-group">
                    <label class="control-label">房间号</label>
                    <div class="controls">
                        <input class="span7" type="text" name="roomNumber">
                     </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">任务类型</label>
                    <div class="controls">
                        <select class="span7" id="taskType">
                             <option value="1">保洁</option>
                             <option value="2">查房</option>
                             <option value="3">报修</option>
                        </select>
                     </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">任务执行人</label>
                    <div class="controls">
                        <select id="userList" class="span7" name="executor"></select>
                     </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">任务说明</label>
                    <div class="controls">
                        <textarea class="span7" rows="5" style="height:100px;" name="taskContent"></textarea>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>  


       <!-- 提交按钮 -->
        <div class="row-fluid" style="text-align:center">
           <button type="button" class="btn btn-success" id="form_sublime">submit</button>
        </div>
</div>


{{#section 'script'}}
    <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>  
    <script type="text/javascript" src="controller/userinfoDom.js"></script>
    <script type="text/javascript" src="controller/AddTask.js"></script>
{{/section}}