<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          	<div class="row-fluid">
				<div class="widget container-narrow">
					<div class="widget-header">
						<i class="icon-user"></i>
						<h5>Log in to your account</h5>
					</div>  
					<div class="widget-body clearfix" style="padding:25px;">
		      			
							<div class="control-group">
								<div class="controls">
									<input class="btn-block" type="text" id="username" placeholder="Username">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<input class="btn-block" type="password" id="password" placeholder="Password">
								</div>
							</div>
							 <div class="control-group">
								<div class="controls clearfix">
									<label style="width:auto" class="checkbox pull-left">
										<input type="checkbox"> Remember me
									</label>
									<a style="padding: 5px 0px 0px 5px;" href="#" class="pull-right">Forgot Password?</a>
								</div>
							</div>					
							<button id="submitBtn" class="btn pull-right">Sign in</button>
		      			
					</div>  
				</div>  
      			<!-- <div style="text-align:center">
      				<p>Neen an account? <a href="new_account.html">Create Account</a></p>
      			</div> -->
        	</div><!--/row-fluid-->
        </div><!--/span10-->
      </div><!--/row-fluid-->
    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="controller/login.js"></script>
  </body>
</html>


