{{#section 'head'}}
    <link rel="shortcut icon" href="assets/ico/favicon.html">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/alertify.css" rel="stylesheet">
{{/section}}


<div class="main_container" id="users_page">
        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Pages</a> <span class="divider">/</span></li>
            <li class="active">Users</li>
          </ul>
          <h2 class="heading">
              Users
              <div class="btn-group pull-right">
                <button class="btn"><i class="icon-download-alt"></i> Export</button>
              </div>
          </h2>
        </div> <!-- /row-fluid -->

       

        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-group"></i>
              <h5>Users</h5>
              <div class="widget-buttons">
                  <a href="forms.html"><i class="icon-plus"></i></a>
              </div>
            </div>  
            <div class="widget-body">
              <table id="users" class="table table-striped table-bordered dataTable">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Group</th>
                    <th>Registered</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td>Christian</td>
                    <td>User</td>
                    <td>18-07-2011</td>
                    <td><span class="label label-important">Banned</span></td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="#"><i class="icon-envelope"></i> Email</a></li>
                          <li><a href="#"><i class="icon-edit"></i> Edit</a></li>
                          <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Allan</td>
                    <td>User</td>
                    <td>06-04-2012</td>
                    <td><span class="label">Inactive</span></td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="#"><i class="icon-envelope"></i> Email</a></li>
                          <li><a href="#"><i class="icon-edit"></i> Edit</a></li>
                          <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Hillary</td>
                    <td>User</td>
                    <td>03-08-2012</td>
                    <td><span class="label label-success">Active</span></td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="#"><i class="icon-envelope"></i> Email</a></li>
                          <li><a href="#"><i class="icon-edit"></i> Edit</a></li>
                          <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div> <!-- /row-fluid -->

      </div>




{{#section 'script'}}
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/raphael-min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src='/assets/js/sparkline.js'></script>
    <script type="text/javascript" src='/assets/js/morris.min.js'></script>
    <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>   
    <script type="text/javascript" src="/assets/js/jquery.masonry.min.js"></script>   
    <script type="text/javascript" src="/assets/js/jquery.imagesloaded.min.js"></script>   
    <script type="text/javascript" src="/assets/js/jquery.facybox.js"></script>   
    <script type="text/javascript" src="/assets/js/jquery.alertify.min.js"></script> 
    <script type="text/javascript" src="/assets/js/jquery.knob.js"></script>
    <script type='text/javascript' src='/assets/js/fullcalendar.min.js'></script>
    <script type='text/javascript' src='/assets/js/jquery.gritter.min.js'></script>
    <script type="text/javascript" src="/assets/js/realm.js"></script>
    <script type="text/javascript" src="/controller/common.js"></script>
{{/section}}